

.hero {
    //max-width: 1600px;
    margin-left: auto;
    padding: 118px 0;
    margin-right: auto;
    text-align: center;
    background-color: #2F303A;
    background-image: radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),

    url(../img/new_images/Header1xmob.jpg);
    

   

    @media screen and (min-width: 767px) {
        padding: 118px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }
  
    
background-repeat: no-repeat;
background-position: center;
background-size: cover;

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image:radial-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
),
 url(../img/new_images/Header2xmob.jpg);
}

@media screen and (min-width: 768px) {
    background-image:
    radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../img/new_images/Header1xtab.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image:radial-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
),
url(../img/new_images/Header2xtab.jpg);
}
}

@media screen and (min-width: 1200px) {
    background-image: radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(/img/herobg.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image:
  radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../img/new_images/Headerbg2x.jpg);
}
}
}

.hero-list{
    display: flex;
    //width: 100%;
    //padding: 0;
}


.hero__title {
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
max-width: 360px;
//height: 84px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-title-color);

@media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    height: 120px;
    text-align: center;
    line-height: 1.36;
    max-width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
}
