:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --first-text-color: #2196F3;
    --second-text-color: #757575;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --first-button-color: #FFFFFF;
    --second-button-color: #212121;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --card-item: 1;
   }

   